<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contact-us.css">
    <link rel="stylesheet" href="/css/style.css">
    
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/aos.css">
    

    <title>Write Your Blog</title>
</head>
<body>
<section>
    <div class="top">Editor's Section of {{username}}</div>
</section>

{{>header}}
<section>
  <div class="editor-background" id="editorbackground">
  </div>
</section>
    
<section class="editcon">
        <div class="container1">
          <p>Write Your Own Blog</p>
      <form action="/" method="post">
          <div class="login" id="writeuplogin">
          </div>
          
          <div class="subject" id="writeupsubject">
           
          </div>
          
          <div class="msg" id="writeupmsg">
          </div>
          
          <div class="btn" id="writeupbtn"></div>
        </div>
       </form>
</section>

      
{{>footer}}
    
        <!-- - Footer  -->

      


<script src="/js/writeup.js"> </script>
<script src="/js/Jquery3.4.1.min.js"></script>

    <script src="/js/aos.js"></script>
    <script src="/js/owl.carousel.min.js"></script>

    <script src="/js/main.js"></script>
      <!-- -x- Footer x- -->
    
</body>
</html>